network:
  version: 2
  renderer: networkd
  ethernets:
    {{ Q_IFACE }}:
      dhcp4: {{ 'true' if not Q_QEMU_KVM else 'false' }}
      dhcp6: {{ 'true' if not Q_QEMU_KVM else 'false' }}
      optional: true
      ignore-carrier: no
{%- if Q_QEMU_KVM %}
  bridges:
    br0:
      interfaces: [{{ Q_IFACE }}]
      dhcp4: true
      dhcp6: true
      parameters:
        stp: false
        forward-delay: 0
      optional: true
{%- endif %}
      dhcp4-overrides:
        route-metric: 100
      dhcp6-overrides:
        route-metric: 100
