[Unit]
Description=Run VM Backups
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/hd-backup-vms
User=root
Group=root
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target